#banner {
    width: 100%;
    height: 500px;
    background-image: url('images/lap-swimming.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(203, 247, 220);
}

/* Body */
.heading1 {
    font-family: "Bodoni Moda";
    font-size: 3em;
    font-weight: 900;
}

.heading2 {
    font-family: "Bodoni Moda";
    font-size: 2em;
    font-weight: bold;
}

p {
    font-family: "Bodoni Moda";
    font-size: 1.8em;
    font-weight: bold;
}

